* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  width: 100dvw;
  min-height: 100dvh;
  font-family: var(--font-primary);
  background-color: var(--background);
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title);
}

:root {
  --primary: #ed7af7;
  --primary-25: rgba(237, 122, 247, .25);
  --primary-50: rgba(237, 122, 247, .5);
  --primary-75: rgba(237, 122, 247, .75);
  --primary-125: #dc71e6;

  --secondary: #282772;
  --secondary-25: rgba(40, 39, 114, .25);
  --secondary-50: rgba(40, 39, 114, .5);
  --secondary-75: rgba(40, 39, 114, .75);
  --secondary-125: #232264;

  --text: #454a5e;
  --text-25: rgba(69, 74, 94, .25);
  --text-50: rgba(69, 74, 94, .5);
  --text-75: rgba(69, 74, 94, .75);
  --text-125: #454a5e;

  --red: #d9534f;

  --background: #f0f0f0;
  --foreground: #dad9d9;
}